# 前言

## 技术栈

node + vue + vux + webpack


## 项目运行

#### 注意：，node 需要 6.0 以上版本 

```

npm run dev

node app.js

```


# 说明

>  如果对您有帮助，您可以点右上角 "Star" 支持一下 谢谢！ ^_^

>  或者您可以 "follow" 一下，我会不断开源更多的有趣的项目

>  开发环境 node8.9

>  如有问题请直接在 Issues 中提，或者您发现问题并有非常好的解决方案，欢迎 PR 👍



# 部分截图


### 首页展示

<img src="https://github.com/906769209/telecom/blob/master/static/img/git.png?raw=true"/>




# 项目布局

```
.
├── build                                        // 打包配置
├── config                                       // 配置文件
├── dist                                         // 打包后文件
├── node_modules                                 // 项目依赖
├── src                                          // 源码目录
├── static                                       // 静态资源
├── index.html                                   // 入口文件
├── package.json                                 // 依赖包
.


```
